// 
// Dividers
//

.html{
  width: 100px;
  height: 100px;
  margin-top:30px ;
}

.native {
  width: 500px;
  height: 300px;
  margin-top:-20% ;
  margin-left: 700px;
  object-fit: cover;



}

.css{
  width: 100px;
  margin-top: 30px;
  margin-left: 13px;

}

.js {
  width: 100px;
  margin-top: 30px;
  margin-left: 13px;

}
.ang{
  object-fit: cover;
  width: 100px;
  height: 60px;
  margin-top: 30px;
  margin-left: 13px;
}
.ro{
  align: right;
}

.ge{
  object-fit: cover;
  width: 100%;
  height: 830px;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 18px;

}



.node{
   width: 100px;
  margin-top: 30px;
  margin-left: 20px;

}
.react{
  object-fit: cover;
  width: 100px;
  margin-top: 30px;
  margin-left: 13px;

}
.boot{
  
  width: 100px;
  margin-top: 30px;
  margin-left: 10px;
}
.mongo{
   width: 100px;
  margin-top: 30px;
  margin-left: 10px;
}
